
zbx-scripts/.idea/zbx-scripts.iml

zbx-scripts/.idea/workspace.xml

zbx-scripts/.idea/vcs.xml

zbx-scripts/.idea/scopes/scope_settings.xml

zbx-scripts/.idea/modules.xml

zbx-scripts/.idea/misc.xml

zbx-scripts/.idea/encodings.xml

zbx-scripts/.idea/.name

*.tmproj
